# egg-info
src/swissisoform.egg-info

# pycache
src/swissisoform/__pycache__

# data
data/genome_data/hg38.fa
data/genome_data/hg38.ncbiRefSeq.gtf
data/ribosome_profiling
data/mutation_data

# output visualizations
notebooks/*.csv
notebooks/*.png