# Environment variables
.env

# egg-info
src/swissisoform.egg-info

# pycache
src/swissisoform/__pycache__

# data
data/genome_data/*
!data/genome_data/hela_top_transcript.txt
!data/genome_data/.gitkeep

data/ribosome_profiling/*
!data/ribosome_profiling/truncations.bed
!data/ribosome_profiling/.gitkeep

data/mutation_data/*
!data/mutation_data/.gitkeep

data/stop_codon_analysis/*

# results
results/*

# test notebooks


# out files
scripts/out
scripts/results
scripts/results_reduced
tests/test_run_*
tests/rerun_translation_only.py

# all DS store files
.DS_Store
scripts/.DS_Store

# cache files
*.cache

# deeploc2
deeploc-2.1.All.tar.gz